<li>
	{{burger_name}}

	<button class="change-devour" data-id="{{id}}" data-newsleep="{{devour}}">
		{{#if devour}}Devour TIME!{{else}}Eat UP!{{/if}}
	</button>

	<button class="devour-burger" data-id="{{this.id}}">DELETE!</button>
</li>
